extends ../layout
block content
    .row
        h1.landing-heading.text-center Đóng góp cho dự án
        .big-break
        .big-break
        .big-break
        .spacer
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3
            h2.text-center Nếu bạn là front-end developer
            hr
            html
                <p class="negative-15">Nếu bạn là front-end developer có kinh nghiệm lâu năm chúng tôi cần bạn để giảng dạy khóa học đầu tiên hãy để lại liên hệ tại <a href="https://goo.gl/4T8gX4">đây</a>.</p>
        .spacer
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3
            h2.text-center Nếu bạn là HR hoặc Doanh nghiệp nhân sự
            hr
            html
                <p class="negative-15">Nếu bạn là HR hoặc Doanh nghiệp nhân sự hãy đăng ký với chúng tôi để ký ghi nhớ tuyển dụng nhân sự sau khi tốt nghiệp tại <a href="https://goo.gl/D8QYwM">đây</a>.</p>
          .spacer
    .row
          .col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3
              h2.text-center Nếu bạn muốn làm các công tác tình nguyện
              hr
              html
                  <p class="negative-15">Nếu bạn muốn làm các công tác tình nguyện hãy liên lạc ngay với chúng tôi tại <a href="">đây</a>.</p>
          .spacer
    .row
          .col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3
              h2.text-center Nếu bạn muốn ủng hộ về mặt tài chính
              hr
              html
                  <p class="negative-15">Số tài khoản 19030872090999 Ngân hàng Techcombank chi nhánh Hà Nội, tên chủ tài khoản Công ty TNHH FreeCodeSchool .Khi ủng hộ tiền cho dự án , bạn nhớ ghi rõ tiền ủng hộ phát triển dự án FreeCodeSchool trong nội dung chuyển tiền.</p>
                  <p class="negative-15">Bạn cũng có thể mua một món hàng trong của hàng của chúng tôi . (Link)</p>
                  <p class="negative-15">Bạn cũng có thể ủng hộ tài chính qua Indiegogo <a href="https://www.generosity.com/education-fundraising/free-code-school-teach-code-for-free">https://www.generosity.com/education-fundraising/free-code-school-teach-code-for-free</a></p>
          .spacer
