extends ../layout
block content
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3
            h2.text-center Đóng góp cho dự án
            hr
            html
                <p class="negative-15">Bạn cũng có thể đóng góp cho dự án bằng cách liên hệ theo form , để đăng ky làm tình nguyên viên cho dự án .Các công việc của dự án hiện nay đang rất nhiều như : marketing , trang trí phòng học , lễ tân , mua sắp cơ sở vật chất.</p>

                <p class="negative-15">Nếu bạn là front-end developer có kinh nghiệm lâu năm chúng tôi cần bạn để giảng dạy khóa học đầu tiên hãy để lại liên hệ (Link).</p>

                <p class="negative-15">Nếu bạn là HR hoặc Doanh nghiệp nhân sự hay đăng ký với chúng tôi để ký ghi nhớ tuyển dụng nhân sự sau khi tốt nghiệp (Link).</p>

                <p class="negative-15">Nếu bạn muốn làm các công tác tình nguyện hãy liên lạc ngay với chúng tôi (Form). </p>

                <h4>Nếu bạn muốn ủng hộ về mặt tài chính</h4>
                <p class="negative-15">Nếu bạn là front-end developer có kinh nghiệm lâu năm chúng tôi cần bạn để giảng dạy khóa học đầu tiên hãy để lại <a href="">liên hệ</a></p>
                <h4>Free Code School đã làm được gì để phát triển cộng đồng?</h4>
                <p class="negative-15">Free Code School đã đào tạo hàng nghìn lập trình viên cho cộng đồng IT.</p>
                <h4>Tôi có thể làm gì để đóng góp công sức trước khi tôi có được chứng chỉ?</h4>
                <p class="negative-15">Số tài khoản 19030872090999 Ngân hàng Techcombank chi nhánh Hà Nội, tên chủ tài khoản Công ty TNHH FreeCodeSchool .Khi ủng hộ tiền cho dự án , bạn nhớ ghi rõ tiền ủng hộ phát triển dự án FreeCodeSchool trong nội dung chuyển tiền.</p>

                <p class="negative-15">Bạn cũng có thể mua một món hàng trong của hàng của chúng tôi . (Link)</p>

                <p class="negative-15">Bạn cũng có thể ủng hộ tài chính qua Indiegogo <a href="Bạn cũng có thể ủng hộ tài chính qua Indiegogo ">Bạn cũng có thể ủng hộ tài chính qua Indiegogo</a></p>

                <p></p>
        .spacer
